body {
   background-color: rgb(196, 231, 243);
}

h1 {
    text-align: center;
}

canvas {
    border: 1px solid #000;
    display: block;
    margin: 0 auto;
}

alinhacanvas {
    /*min-height: 100vh;*/
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

lp {
    font-family: VT323;
    font-size: 50px;
    color: red;
}

lo {

    font-family: VT323;
    font-size: 50px;
    color:rgb(21, 230, 21);
}

lr {

    font-family: VT323;
    font-size: 50px;
    color:white;
}

lt {

    font-family: VT323;
    font-size: 50px;
    color:yellow;
}

la {

    font-family: VT323;
    font-size: 50px;
    color:rgb(226, 33, 226);
}

ll {

    font-family: VT323;
    font-size: 50px;
    color:brown;
}

lo {

    font-family: VT323;
    font-size: 50px;
    color:orange;
}

lk {

    font-family: VT323;
    font-size: 50px;
    color:blue;
}

lii {

    font-family: VT323;
    font-size: 50px;
    color:gray;
}

ld {

    font-family: VT323;
    font-size: 50px;
    color:white;
}

ls {

    font-family: VT323;
    font-size: 50px;
    color:yellow;
}